<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ionic 5 Firebase File Upload Demo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">

    <ion-card class="ion-text-center">
      <!-- *ngIf="!isUploading && !isUploaded" -->
      <ion-card-header>
        <ion-card-title>Choose Images to Upload</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-button color="primary" shape="round" size="medium">
          <input type="file" (change)="uploadImage($event.target.files)" />
        </ion-button>

        <ion-button (click)="takeSnap()">
          Take Snap
        </ion-button>
      
        <img [src]="capturedSnapURL" />
        
      </ion-card-content>
    </ion-card>

    

  </div>
</ion-content>