<ion-app>
  <ion-router-outlet></ion-router-outlet>
    <ion-header collapse="condense">
      <ion-toolbar style="--background:transparent; --ion-color-base: transparent;">
        <ion-buttons slot="start">
          <ion-button>
            <ion-icon name="grid-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
        <img class="logo" src="../../assets/logonewwhite.png" width="20%" />
        <ion-buttons slot="end">
          <ion-button>
            <ion-icon name="person-circle-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
</ion-app>