<ion-header collapse="condense">
  <ion-toolbar>
    <ion-title size="large">
      <img src="../../assets/logonewwhite.png" alt="">



    </ion-title>


    <ion-buttons slot="end">
        <small style="color: #fff;">username!</small>

<img src="../../assets/headeruser.png" alt="">            
      </ion-buttons>
  </ion-toolbar>
</ion-header>

  
  <ion-content [fullscreen]="true">
   
  
        <ion-grid>
           
                     
                      <ion-row>
                        <ion-col  size="12">
<h5 style="float: left;">Quick Search
</h5> 

                        </ion-col>
                        
                      </ion-row>

<ion-row>
  <ion-col size="4" style="text-align: center;">
  <img src="../../assets/gc1.png" alt="">
  </ion-col>
  <ion-col size="4" style="text-align: center;">
      <img src="../../assets/gc2.png" alt="">
    </ion-col>
  <ion-col size="4" style="text-align: center;">
      <img src="../../assets/gc3.png" alt="">

  </ion-col>

</ion-row>

<ion-row style="margin-left:-9px;margin-right:-9px">
  <ion-col size="12">
    <img src="../../assets/gbar.png" alt="">
  </ion-col>
</ion-row>

<ion-row>
  <ion-col></ion-col>
</ion-row>
<ion-row>
    <ion-col></ion-col>
  </ion-row>


<ion-row style="height: 125px;">
<ion-col routerLink="/qrcode" size="4" style="text-align:center">
<img src="../../assets/firstcard.png" alt="">
<img class="cardIcon" src="../../assets/coupon.png" alt="">
</ion-col>


<ion-col routerLink="/doctor-search" size="4" style="text-align:center">
    <img src="../../assets/secondcard.png" alt="">
    <img class="cardIcon" src="../../assets/doctor.png" alt="">
    </ion-col>
    
    
    <ion-col routerLink="/doctor-search-form" size="4" style="text-align:center">
        <img src="../../assets/thirdcard.png" alt="">
        <img class="cardIcon" src="../../assets/hospital.png" alt="">
        </ion-col>

</ion-row>

<ion-row style="height: 125px;">
    <ion-col routerLink="/game" size="4" style="text-align:center">
    <img src="../../assets/fourthcard.png" alt="">
    <img class="cardIcon" src="../../assets/video-console (1).png" alt="">
    </ion-col>
    
    
    <ion-col size="4" style="text-align:center">
        <img src="../../assets/fifthcard.png" alt="">
        <img class="cardIcon" src="../../assets/healthcare-and-medical.png" alt="">
        </ion-col>
        
        
        <ion-col size="4" style="text-align:center">
            <img src="../../assets/sixthcard.png" alt="">
            <img class="cardIcon" src="../../assets/cbd.png" alt="">
            </ion-col>
    
    </ion-row>
    
  
    <ion-row style="height: 125px;">
    <ion-col size="8">
      <img src="../../assets/card7.png" alt="">
      <img class="cardIcon" style="position: relative;
      left: 160px;
      top: -85px;" src="../../assets/fast-delivery (1).png" alt="">
    </ion-col>
    <ion-col routerLink="/news" size="4">
      <img src="../../assets/c8.png" alt="">
      <img style="left: 30px;" class="cardIcon" src="../../assets/weed (1).png" alt="">
    </ion-col>

  </ion-row>
  <ion-row>
    <ion-col></ion-col>
  </ion-row>
                             <ion-row>
                               <ion-col size="12" style="text-align: center;">
                              <img src="../../assets/Rectangle.png" alt="">
                            <!-- <small  style="color: #fff;">באנר מתחלף
                              </small>--> </ion-col> 
                             </ion-row>
  
 
        </ion-grid>
  
  </ion-content>
  